.ui-datepicker .ui-datepicker-title{
    margin: 0 auto;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    height: 25px;
}
.ui-datepicker select.ui-datepicker-month{
    margin-left: 5px;
    width: 76px;
}
.ui-datepicker select.ui-datepicker-year{
    width: 65px;
    margin-right: 5px;
    margin-left: 5px;
}